!!!
html
  head
    title 巧微 - 灵活解放生产力
    link(rel="stylesheet", type="text/css", href="/assets/css/common.css")
    script(src='/assets/js/jquery.js')
  body
    div(id="header")
      h1 
        a(href = "/") 巧微
      div(class="slogon") 灵活解放生产力
    block content 
    pre #{JSON.stringify(user,null,'  ')}
    
    :stylus
      /*样式表就写这里吧，没必要再弄public了*/
    