extends layout

block content
  link(rel="stylesheet", type="text/css", href="/assets/css/postSchedule.css")
  .add_info.module 
    .hd 添加一条定时
    .bd 
      form(action="")
        .info_item
          .label 微博内容：
          .con
            textarea(placeholder="微博内容")
        .info_item
          .label 定时发布的时间：
          .con
            span 年：
            select#year 
            span 月：
            select#month
            span 日：
            select#day
            span 时：
            select#hour
            span 分：
            select#minute
            span 秒：
            select#second
        .info_item
          .label 添加图片：
          .con   
            input(type="file")
        .info_item
          .label
          .con
            button(type="submit") 提交
  .list_info.module
    .hd 定时列表
    .bd 
      .info_item.clearfix.th 
        .col_time.col 发布时间
        .col_con.col 微博内容
        .col_pic.col 微博图片
        .col_del.col 操作
      .info_item.clearfix 
        .col_time.col 2012-11-22 33:33:33
        .col_con.col 内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢
        .col_pic.col 
          img(src="http://ww1.sinaimg.cn/large/42976c84jw1dzt3i2a0i2j.jpg", width="100", height="100")
        .col_del.col
          a.del(href="#") 删除
      .info_item.clearfix 
        .col_time.col 2012-11-22 33:33:33
        .col_con.col 内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢
        .col_pic.col 
          img(src="http://ww1.sinaimg.cn/large/42976c84jw1dzt3i2a0i2j.jpg", width="100", height="100")
        .col_del.col
          a.del(href="#") 删除
      .info_item.clearfix 
        .col_time.col 2012-11-22 33:33:33
        .col_con.col 内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢
        .col_pic.col 
          img(src="http://ww1.sinaimg.cn/large/42976c84jw1dzt3i2a0i2j.jpg", width="100", height="100")
        .col_del.col
          a.del(href="#") 删除
      .info_item.clearfix 
        .col_time.col 2012-11-22 33:33:33
        .col_con.col 内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢内容内容呢
        .col_pic.col 
          img(src="http://ww1.sinaimg.cn/large/42976c84jw1dzt3i2a0i2j.jpg", width="100", height="100")
        .col_del.col
          a.del(href="#") 删除
  div#bigpic(style="display:none;")
  script(src='/assets/js/postSchedule.js')
  script
    PS.init()