html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust:none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:focus {
    outline: 0;
}
input[type="submit"]:hover {
    cursor:pointer;
}
textarea { 
    overflow: auto; 
}
.italic {
    font-style: italic; }
.bold {
    font-weight: bold; }
.clear { 
    clear: both; 
    float: none!important;
    display: block!important;
    margin: 0!important;
    padding: 0!important;
}
.hidden{
    display:none !important;
}
html{
    font-size:12px;
    font-family:"微软雅黑","宋体";
}
.clearfix:after,.clearfix:before,.headerCon:before{display:table;content:"";overflow:hidden;}.headerCon:after,.clearfix:after{clear:both;}.headerCon,.clearfix{zoom:1;}



.btn{
    padding:5px 15px;
    font-size:14px;
    background:#333;
    color:#fff;
    border-radius: 3px;
    border:1px solid #000;
    box-shadow: 0px 0px 1px #fff inset;
    cursor:pointer;
}
.btn-large{
    padding:10px 20px;
    font-size:16px;
    background:#333;
    color:#fff;
    border-radius: 3px;
    border:1px solid #000;
/*    box-shadow: 0px 0px 1px #fff inset;*/
    cursor:pointer;
}
.btn:hover{
        background:#e24242;
        border:1px solid #b91414;
}
input[type=text],input[type=password]{
    border:1px solid #aaa;
    background: #fff;
    height:25px;
    width:400px;
    color:#666;
    padding-left:5px;
}
textarea{
    border:1px solid #aaa;
    background: #fff;
    color:#666;
    padding-left:5px;
}

.loading-tip{
    position:fixed;
    top:0;
    height:20px;
    line-height:20px;
    padding:2px 5px;
    background:#f4e8ab;
    color:#333;
    display:none;
     z-index:10000;
    right:30px;
    box-shadow: 1px 1px 1px #ddd;
}
.message-tip{
    position:fixed;
    top:200px;
    left:45%;
    height:20px;
    line-height:20px;
    padding:2px 10px;
    border-radius: 15px;
    background:#f4e8ab;
    color:#333;
    border:1px solid #dac55f;
    opacity:0;
    z-index:10000;
/*    box-shadow: 1px 1px 1px #999;*/
     -webkit-animation: zoomIn 400ms ease both;
    -webkit-backface-visibility: visible;
    -moz-animation: zoomIn 400ms ease both;
    -moz-backface-visibility: visible;
    -o-animation: zoomIn 400ms ease both;
    -o-backface-visibility: visible;
    animation: zoomIn 400ms ease both;
}
.message-tip.show{
    opacity:1;
    -webkit-animation: zoomOut 400ms ease both;
    -webkit-backface-visibility: visible;
    -moz-animation: zoomOut 400ms ease both;
    -moz-backface-visibility: visible;
    -o-animation: zoomOut 400ms ease both;
    -o-backface-visibility: visible;
    animation: zoomOut 400ms ease both;
}

#header{
  height:50px;
}
#header h1{
  font-size:40px;
  line-height:30px;
  color:#e24242;
   float:left;
  font-weight:bold;
  margin-left:10px;
  margin-top:10px;
}
#header .slogon{
  float:left;
  line-height:20px;
  font-size:14px;
  color:#999;
  margin-top:25px;
  margin-left:10px;
}