
    .user_info{
    
    }
    .user_info .info_item{
      width:200px;
      float:left;
      line-height:18px;
      margin-top:5px;
    }
    .org_info {
      
    }
    .org_info .info_item{
      line-height:18px;
      margin-top:5px;
    }
    .sns_info .info_item{
      line-height:18px;
      margin-top:5px;
    }